<section class="partner_vacancies" id="partner_vacancies" style="background: #1d1d1d; overflow: hidden">
    <div>
        <div class="column">
            <div class="card">
                <div style="text-align: center">
                    <span class="block-title">
                        Urbamatica
                    </span>
                </div>
            </div>
        </div>
        <div class="column">

            <div class="card">

                <div style="text-align: center">
                    <span class="block-title">
                    Yandex
                    </span>
                </div>

                {% set yandex_vac = site.query('/jobs/1740').include_hidden(false).all() %}
                <ul id='yandex'>
                    {% for foo in yandex_vac %}
                        <li class="block-description">
                            -{{ foo.title }}
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <div style="background: linear-gradient(transparent, gray); position: absolute; height: 60px">
            </div>

        </div>
        <div class="column">
            <div class="card">
                <div style="text-align: center">
                    <span class="block-title">
                    Tinkoff
                    </span>
                </div>
                {% set tinkoff_vac = site.query('/jobs/78638').include_hidden(false).all() %}
                <ul id='tinkoff'>
                    {% for foo in tinkoff_vac %}
                        <li class="block-description">
                            -{{ foo.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div style="text-align: center">
                    <span class="block-title">
                    WellYes
                    </span>
                </div>
                {% set wellyes_vac = site.query('/jobs/2568447').include_hidden(false).all() %}
                <ul id='wellyes'>
                    {% for foo in wellyes_vac %}
                        <li class="block-description">
                            -{{ foo.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>