<section class="partner_vacancies" id="partner_vacancies" style="background: #1d1d1d; overflow: hidden">
    <div>
        <div class="column">
            <div class="card">
                <div style="text-align: center">
                    <span class="block-title">
                        Urbamatica
                    </span>
                </div>
            </div>
        </div>
      <div class="column">
        <div class="card" style="position: relative">
          <div style="text-align: center">
            <span class="block-title">
              Yandex
            </span>
          </div>

          <!--{% set yandex_vac = site.query('/jobs/1740').include_hidden(false).all() %}-->
          <ul id='yandex'>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <li class="block-description">- Вакансия flutter-разработчика для агрегатора сервисов доставки еды</li>
            <!--{% for foo in yandex_vac %}-->
            <!--<li class="block-description">-->
            <!--    -{{ foo.title }}-->
            <!--</li>-->
            <!--{% endfor %}-->
          </ul>

          <div
            style="
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 80px;
            background: linear-gradient(transparent, #f1f1f1);
          ">
          </div>
        </div>
      </div>

        <div class="column">
            <div class="card">
                <div style="text-align: center">
                    <span class="block-title">
                    Tinkoff
                    </span>
                </div>
                {% set tinkoff_vac = site.query('/jobs/78638').include_hidden(false).all() %}
                <ul id='tinkoff'>
                    {% for foo in tinkoff_vac %}
                        <li class="block-description">
                            -{{ foo.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div style="text-align: center">
                    <span class="block-title">
                    WellYes
                    </span>
                </div>
                {% set wellyes_vac = site.query('/jobs/2568447').include_hidden(false).all() %}
                <ul id='wellyes'>
                    {% for foo in wellyes_vac %}
                        <li class="block-description">
                            -{{ foo.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>